body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
    }

header {
    display: flex;
    color:antiquewhite;
    background-color: rgb(44, 52, 77);
    justify-content:space-evenly;
    align-content: center;
      
}

header a{
    display:flex;
    justify-content: center;
    align-items: center;
}





nav ul{
    display: flex;
    gap: 1.1em;
    flex-wrap: wrap;
}


.seccion-1 {
    
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
        
}

header nav ul li{
    list-style: none;
    border-radius: 6px;
    border: 1px solid antiquewhite;
}

footer {
    display: flex;
    background-color: rgb(44, 52, 77);
    color:antiquewhite;
    justify-content:space-evenly;
}
.containerimg1 {
    width: 100%;
    display: flex;
    max-width: 1450px;
    justify-items: right;
    
    

}
.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff60;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor:default;
    transition: all 400ms ease;
    
}
.card:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
    
}
.card img{
    width: 100%;
    height: 210px;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    transition: all 400ms ease;
}
.card .contenido a:hover{
    background: grey;
    color: #fff;
}

.checkbtn {
    font-size: 25px;
    color:red;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {

   .checkbtn {
    display: block;
   }

   nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: grey;
    text-align: center;

    top: 80px;
    left: 100%;
    transition: all 0.5s;
}

#check:checked ~ ul {
    left: 0%;
    display: block;
}

nav ul li{
display: block;
margin: 50px 0;
line-height: 30px;
}

.containerimg1 {
    
    display:flexbox;
    flex-wrap: wrap;
        
}

    }

    /* ------------- Encabezado Contacto ------------- */
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  

    
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }
  
  /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }
 
  .form-row input[type="text"],
  .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }


  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  /* ------------- Para Pantallas de más de 700px ------------- */
  
  
  .form-row textarea {
      width: 250px;
    }
    
    .form-row button {
        font-size: 16px;
        font-weight: bold;
      
      
        color: #ffffff;
        background-color: #5995da;
      
      
        border: none;
        border-radius: 3px;
      
      
        padding: 10px 40px;
        cursor: pointer;
      }
      
      
      .form-row button:hover {
        background-color: #76aeed;
      }
      
      
      .form-row button:active {
        background-color: #407fc7;
      }
      
      .greetting {
        font-size: larger;
        display: flex ;
        
      }
      
      /* ------------- Para Pantallas de más de 700px ------------- */
      
      
      .form-row button {
          margin-left: 120px;
  

       
        